.footer__inner {
  margin: 100px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.footer__box {
  max-width: 260px;
  min-width: 146px;
}

.footer__logo {
  margin-bottom: 22px;
}

.footer__descr {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 16px;
}

.footer__copyright {
  position: absolute;
  bottom: 0;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
}

.footer__title {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #1D1F2E;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.footer__list li {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 10px;
}

.footer__list li:last-child {
  margin-bottom: 0;
}

.footer__link {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__link:hover {
  color: #A25F4B;
  border-color: #A25F4B;
}

.footer__link:active {
  color: rgba(161, 94, 74, 0.302);
  border-color: rgba(161, 94, 74, 0.302);
}

.footer__email {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
  color: #1D1F2E;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__email:hover {
  color: #A25F4B;
  border-color: #A25F4B;
}

.footer__email:active {
  color: rgba(161, 94, 74, 0.302);
  border-color: rgba(161, 94, 74, 0.302);
}