.story__inner {
  max-width: 660px;
  margin: 0 auto;
  padding: 120px 0 0;
  text-align: center;
}

.story__title {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: #1D1F2E;
  margin-bottom: 16px;
}

.story__descr {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 21px;
}